<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="icon" href="https://kanziebub.github.io/ProjectSEA/assets/favicon/SEA1/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="https://kanziebub.github.io/ProjectSEA/assets/favicon/SEA1/favicon.ico" type="image/x-icon">
<!-- <script src="https://kanziebub.github.io/ProjectSEA/assets/js/main.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js"></script>
<!-- end custom head snippets -->
